/* VARIABLES */
.navstyle__li {
  list-style: none;
  color: #b0e200;
  background-color: #6cab5a;
  transition: 2s; }

.navstyle__li:hover {
  width: 120px;
  height: auto;
  background-color: #b3e971; }

/* VARIABLES*/
body {
  background: #56ab2f;
  background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
  background: linear-gradient(to right, #a8e063, #56ab2f); }

.titulo {
  background-color: #b0e200;
  margin: 20px;
  padding: 20px; }

.carousel__padding {
  padding-bottom: 50px; }

/* VARIABLES */
a {
  list-style: none;
  color: #133208; }

.footer {
  padding-bottom: 50px; }

.footer {
  padding-top: 50px; }
