/* VARIABLES */
.navstyle__li {
  list-style: none;
  transition: 2s; }

.navstyle__li:hover {
  width: 120px;
  height: auto; }

nav {
  background-color: #a09a0a; }

/* VARIABLES*/
body {
  background-color: #f8efed; }

.carousel__padding {
  padding-bottom: 50px; }

header {
  padding-bottom: 50px; }

/* VARIABLES */
a {
  list-style: none;
  color: #133208; }

.footer {
  padding-bottom: 50px; }

footer {
  background-color: #a09a0a;
  padding-top: 50px; }

.afooter {
  width: 50px; }
