/* VARIABLES */

$greena:#b0e200; 

$greenb:#6cab5a;

$greenc:#b3e971;

$greend:#133208;

$facebook:19px;
$mail:25px;
$instagram:23px;

$padding:50px;

a { list-style: none ;
  color:$greend; }

.footer {padding-bottom: $padding; }
.footer {padding-top: $padding; }
